*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: arial,sans-serif;
    background: url(/images/univ_background.jpg) no-repeat center/cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
   
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6A9C89;
    padding: 10px 20px;
    color: white;
}
.logo img {
    height: 50px;
  }
  nav a { 
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
  }
  main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 140px ;
  }

  

  .container{
    background: rgba(255, 255, 255, 0.95);
    padding: 50px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    max-width: 400px;
    
  }
  .container h2{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
   
  }

input[type="password"]{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  
  }
  .container form label{
    align-self: flex-start;
  }
  button {
    background-color: #c4f43d;
    border: none;
    padding: 10px 45px;
    border-radius: 999px; 
    font-weight: bold;
    cursor: pointer;
    width: auto;
    cursor: pointer;
    transition: background-color 0.3s ease;
   
  }
  button:hover {
    background-color: #ddd;
  }
 
  .button-group {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

  footer {
    background-color: #6A9C89;
    color: white;
    padding: 20px; 
    font-size: 14px; 
    



  }
  footer h4 {
    margin-bottom: 10px;
    font-size: 16px;
  }
  footer input[type="email"] {
    padding: 8px;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
  }
  .footer-links {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    margin-left: 1000px;
    
  }

  .aide-list, .plus-list{
    margin-right: 20px; 
    margin-bottom: 0;
    
  }

  .footer-links ul {
    list-style: none;
  }
  .footer-links li {
  margin-bottom: 5px;
}